html
  {
    height: 100%;
  }

body
  {
    margin: 0;
    font-family: system-ui;
    height: 100%;
    /* background-color: rgb(48, 48, 48); */
    background-color: rgb(0, 0, 0);

  }


.invisible
{
  display: none;
}

.configFileButton
{
padding: 1.8rem;
font-size: 1.7rem;
border-radius: 0.5rem;
color: white;
background-color: rgb(60, 148, 130);
}

.inputZone
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap:3rem;
  flex-direction: column;
}

.bouton
  {
  cursor: pointer !important;
  transition: all .6s ease-out 0s;
  width: fit-content;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform: translateZ(0);
  border: none;
  }
  
  
.bouton:active
{
  transition: opacity .1s ease-out 0s;
  opacity: .5;
}

.fond_rouge
     {
      background-color: #ba5252;
     }
      
  .rouge
     {
      color: #ed8080;
     }
  
  .noir
    {
      color: black;
    }
    
  .blanc
    {
      color: white;
    }
  
  .fond_blanc
       {
          background-color: white !important;
       }
    
  .blanc_casse
     {
       color: rgb(247,247,247) !important;
     }
  
  .fond_blanc_casse
      {
         background-color: rgb(247,247,247) !important;
      }
  
  .vert
     {
      color: rgb(80, 172, 156);
     }
  
  .fond_vert
     {
      background-color: #56ab63;
      background-color: rgb(80, 172, 156);
     }
  
  .bleu
  {
     color: #5fa5df;
  }
  
  .fond_bleu
    {
    background-color: #5fa5df;
    }





  .loader
    {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }  
  
  .lds-ellipsis {
    /* display: inline-block; */
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }  
  
#login-buttons {
      display: inline-block;
      margin-right: 0.2px;
      line-height: 1;
      margin-left: 47%;
      margin-top: 7rem;
  }
    
    
#login-buttons .login-link-and-dropdown-list {
      position: relative;
      background-color: white;
      padding: 0.5rem;
  }
  
  
  #sliderContainer
  {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    background-color:black;
  }
  
  
  /* 
   #timeBar
   {
      width: 100%;
   } 
     */
    /* The slider itself */
    .slider {
      display: block;
      margin-top: 0.5rem;
      margin-bottom: 0.3rem;
      -webkit-appearance: none;  /* Override default CSS styles */
      appearance: none;
      width: 99%; /* Full-width */
      height: 15px; /* Specified height */
      background: #6d6d6d; /* Grey background */
      outline: none; /* Remove outline */
      opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
      -webkit-transition: .2s; /* 0.2 seconds transition on hover */
      transition: opacity .2s;
    }
    
    /* Mouse-over effects */
    .slider:hover {
      opacity: 1; /* Fully shown on mouse-over */
    }
    
    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
    .slider::-webkit-slider-thumb {
      -webkit-appearance: none; /* Override default look */
      appearance: none;
      width: 15px; /* Set a specific slider handle width */
      height: 25px; /* Slider handle height */
      background: #ffffff; /* Green background */
      cursor: pointer; /* Cursor on hover */
    }
    
    .slider::-moz-range-thumb {
      width: 25px; /* Set a specific slider handle width */
      height: 25px; /* Slider handle height */
      background: #04AA6D; /* Green background */
      cursor: pointer; /* Cursor on hover */
    }
    
    
/* Dropdown Button */
    .dropbtn {
      background-color: transparent;
      color: white;
      padding: 16px;
      font-size: 16px;
      /* border: 0.1rem; */
      border: none;
      /* border-radius: 0.5rem; */
    }
    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      cursor: pointer;
      background-color: #f1f1f1;
      min-width: 160px;
      /* width: max-content; */
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd;}
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}
    
    /* Change the background color of the dropdown button when the dropdown content is shown */
    /* .dropdown:hover .dropbtn {background-color: #1c4b64;}   */
    .dropdown:hover .dropbtn {
      background-color: #464646;
    }  

    
    
#time-dropdown
{
  font-size: 10px;
}  
  /*Navbar*/
.menu {
    width: 100%;  
    background-color: #222;
    font-family: system-ui;
    display: flex;
  }    
  
  
  #speedUpContainer
  {
    margin-left: auto;
    /* display: block; */
    /* width : 10rem; */
    background-color: transparent;
    color: white;
    border: none;
  }
  
  .speedUpButton
  {
    border-radius: 2px;
    background-color: #222;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-left : 0.2rem;
    margin-top : 1rem;
    margin-bottom : 0.5rem;

    /* display: inline-block; */
    font-size: 20px;
  }
  
  .speedUpButton:hover {background-color: #464646;}  

#readme
{
  color: white;
  padding: 5px;
  font-size: 1.5rem;
}

.buttonZone
{
  display: flex;
  justify-content: center;
  align-items: center;

  gap:3rem;
}