<head>
  <title>ipn-visualiser</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <!-- To allow testing of login functions in localhost, change the helper from "localhost" to anything else -->
  {{#if is_localhost}}
    {{#if session_get "display_home"}}
      {{>home}}
    {{/if}}
  {{else}}
    {{#if currentUser}}
      {{#if session_get "display_home"}}
        {{>home}}
      {{/if}}
    {{else}}
      {{>login}}
    {{/if}}
  {{/if}}
  
  
</body>



<template name="home">
  
  <!-- {{#if session_equals 'simulationState' 'loading'}}
      <div class="loader">
        <div class="lds-ellipsis">
          <div></div><div></div><div></div><div></div>
        </div>
      </div>
  {{/if}} -->
  {{#if session_equals 'simulationState' 'waitingForConfig'}}
    <button  class="bouton dropbtn" id="log_out_button" style='text-decoration: underline; float: right;'>Log out</button>
  
      
    <div class="inputZone">
      <div class="buttonZone">
        <label for="configFileSelector" class="bouton configFileButton">
          Upload files
          <input type="file" webkitdirectory directory multiple id="configFileSelector" style="display:none;"/> 
        </label>
        <button class="bouton configFileButton fond_rouge" id="exampleFileButton">Use example files</button>
      </div>
      <div class="readmeZone">
        <a id="readme" href="https://gitlab.inria.fr/jfraire/ipn-v" target="_blank">README</a>  
      </div>
    </div>
  {{/if}}
  <div class="{{#if session_equals 'simulationState' 'ready'}}menu{{/if}} {{#unless session_equals 'simulationState' 'ready'}}invisible{{/unless}}">
    
    <a class="dropdown" >
      <button class="dropbtn">🕣</button>
      <div class="dropdown-content" id="time-dropdown">
      </div>
    </a>
    <div class="dropdown">
      <button class="dropbtn">Travel to...</button>
      <div class="dropdown-content" id="planet-dropdown">
      </div>
    </div>
   <a class="dropdown" >
     
     <a id="speedUpContainer" class="dropdown">
       <!-- <div style="display: inline; margin-right: 0.5rem;">1x</div> -->
      <button class="dropbtn">Speed</button>
       <div class="dropdown-content" id="speedup-dropdown" style="right:0;min-width: 71px;background-color: transparent">
         <button class = "speedUpButton" id="increaseSpeedUp">▲</button>
         <button class = "speedUpButton" id="decreaseSpeedUp">▼</button>
       </div>
     </a>
     <button  class="bouton dropbtn" id="log_out_button" style='text-decoration: underline'>Log out</button>

    

     <!-- <a id="speedUp" class="dropbtn"> Speed up 
       <div class="dropdown-content" id="speed-dropdown">
       </div>
     </a> -->
   </a>
   
  </div>

  {{>v1}}
  
  <div class="{{#if session_equals 'simulationState' 'ready'}}menu{{/if}} {{#unless session_equals 'simulationState' 'ready'}}invisible{{/unless}}">
    <div id="sliderContainer">
      <input type="range" id="timeBar" class="slider"/>
    </div>
  </div>
  
</template>