.login
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	flex-direction: column;
	gap: 1rem;
}

.login-form
{
	padding-inline: 2rem;
	padding-block: 1rem;
	line-height: 2.4;
	/* border-radius: 1rem; */
	height: fit-content;
	border: 1px solid #ececec;
}

.login .login-form label
{
width: 7.9rem;
display: inline-block;
line-height: 1.3;
vertical-align: middle;
text-align: right;
margin-right: 0.5rem;
}

.login .login-form input
{
font-size: 1rem;
padding: .5rem;
width: 12rem;
vertical-align: middle;
}



.login i
{
	margin-left: 1rem;
	color: grey;
}
