<template name="login">
	<div class="login">
		<!-- <input type="email" id="email_input" placeholder="Enter an email address"/>
		<div>
			<input type="{{#if session_get 'showPassword'}}text{{else}}password{{/if}}" id="password_input" placeholder="Enter your password"/>
			<i class="bouton fa fa-eye" id="button_show_password" data-champ="password_input" title="show/hide password"></i>
		</div>	
		<button class= "bouton" id="login-button">
			Login
		</button> -->
		
		<form class="login-form fond_blanc_casse">
			<p>
				<label for="email_input">E-mail : </label>
				<input type="email" id="email_input" placeholder="Enter an email address"/>
			</p>
			<p>
				<label for="password_input">Password : </label>
				<input type="{{#if session_get 'showPassword'}}text{{else}}password{{/if}}" id="password_input" placeholder="Enter your password"/>
				<i class="bouton fa fa-eye" id="button_show_password" data-champ="password_input" title="show/hide password"></i>
			</p>
			
			<p style="text-align: center;">
				<br>
				<input type="submit" class="bouton blanc fond_bleu" id="login-button" value="Connection">
			</p>
		</form>
		
		
	</div>

</template>