<template name="v1">
	<!-- <div id="unity-container" class="unity-containers {{#unless session_equals 'simulationState' 'ready'}}invisible{{/unless}}"> -->
	<div id="unity-container" class="unity-containers {{#unless session_equals_two_options 'simulationState' 'ready' 'loading'}}invisible{{/unless}}">
	  <canvas id="unity-canvas" width=1920 height=1080 tabindex="-1"></canvas>
	  <div id="unity-loading-bar">
		<div id="unity-logo"></div>
		<div id="unity-progress-bar-empty">
		  <div id="unity-progress-bar-full"></div>
		</div>
	  </div>
	  <div id="unity-warning"> </div>
	</div>
</template>
